@CHARSET "UTF-8";

html, body {
	font-family: Verdana;
	font-size: 11px;
}

#canvas-player div, #canvas-cpu div {
	position:relative;

}

#canvas-player, #canvas-cpu {
	/*float: left;*/
}

#canvas-cpu {
	/*float: right; */
	/*float: left;*/
	height:-300px;
}

.x-letra-topo, .x-letra-linha {
	text-align: center;
	background-color: #FFFFFF;
}

.x-celula {
	border-top: 1px solid black;
	border-left: 1px solid black;
}

.x-embarcacao {
	background-repeat: no-repeat;
	background-position: center center;
}

.cruzador {
	background-image: URL(../images/cruzador.gif);
}

.encouracado {
	background-image: URL(../images/encouracado.gif);
}

.hidroaviao {
	background-image: URL(../images/hidroaviao.gif);
}

.porta-aviao {
	background-image: URL(../images/porta-aviao.gif);
}

.submarino {
	background-image: URL(../images/submarino.gif);
}

.tiro_agua {
	background-color: #9999FF;
}

.tiro_acerto {
	background-color: #FF0000;
}
.x-derrubado {
	background-color: #00CC00;
}

#log { /*Aqui a onde vai o log da conversa da batalha!!*/
	position: absolute;
	overflow: auto;
	height: 200px;
	width: 200px;
	padding-top: -1000px;
	margin-top: -600px;
	margin-right: 1000px;
	left: 380px; 
	
	
		
}
/* Aqui e o css do chat*/
.chatnaval{
    /*float: right;*/
    /*margin-top: 100px;*/
    margin-left:600px;
    position: fixed;
    height: 1250px;
    width: 1250px;
}